@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Merienda');
body{
    background:linear-gradient(tomato,silver);
}
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
.container {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}
.box {
    /* background: #fff; */
    border-radius: 5px;
    padding: 100px;
    position: absolute;
    z-index: 1;
}

#n{
    
    color: black;
    text-shadow:2px 2p,5px 5px rgba(0,188 ,212 ,0.4 );
}

/* #mokuzi{
    color: red;
}
#menu > ol > li{
    color: skyblue;
}

#menu{
    height: 200px;
    background-color: black;
}
#menu2{
    background-color: darkred;
    height: 1000px;
} */